body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto" , sans-serif;
    box-sizing: border-box;
}
/* declare all classes for my own work */
.content,.info,.window,.quote,.contact,.footer,.call,.sign-up,.contact,.about,.template,.logo,.by,.image{}

.header ,.template.main , .footer {
background-color: #7b904b;

}


.header,.template.main , .footer{
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.template.main{
    gap: 16px;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;

    
    flex-wrap: wrap;
}
.header .logo{
    width: 200px;
    height: auto;
}
img{
    width: inherit;
    height: inherit;
}

.image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;

}

a,.about.info{
    font-weight: 300;
    font-size: 18px;
    
    
}
a{
    text-decoration: none;
    color: #1f2937;
    
}
.about {
    font-size: 48px;
    font-size: extra-bold;
    flex: 1;
    
}

.template{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    
}
.image{
    background: inherit;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    flex: 2;
    display: flex;
    
}

.call,.sign-up{
    background-color: #58641d;
}

.template.info{
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window{
    border:#58641d solid 4px ;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background: #58641d;
    
}
.window img{
    border-radius: 20px;
}
.card{
    display: flex;
    flex-flow:column wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.template.cards{
    display: flex;
    padding: 12px;
    gap: 34px;
    flex-wrap: wrap;
    
}
.head{
    font-size: 36px;
    font-weight: extra-bold;
}

.template.quote{
    background-color: #DBD2E0;
    flex-direction: column;
    color: #1f2937;
    
}
.quote{
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}
.by{
    align-self: flex-end;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}

.call{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 28px 
    ;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    border-radius: 6px;
}

.call .info{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.call .sign-up{
    border: #E5E7EB solid 2px;
    flex-shrink: 1;
}
.call p{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size:22px ;
}

.sign-up{
    
    border-radius: 5px;
    padding: 6px 28px;
    font-size: 16px;
    color:#F9FAF8
    ;
    font-weight: bold;
    border: none;
}
.footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto 20px 0 0;
}
li{
    margin: 0 0 0 15px;
}
